<div class= "comment-display">
	<% @location.comments.each do |comment| %>
	<p>
		<strong>Name:</strong>
		<%= comment.commenter %>
	</p>

	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>
<% end %>
</div>


<div class = "comment-form">
	<h1>weather wear?</h1>
	<%= form_for :comment, url: comment_url(id: @location) do |f| %>
	<p class="comment-name">
		<%= f.label :name %><br>
		<%= f.text_field :commenter %>
	</p>
	<p class="comment-body">
		<%= f.label :comment %><br>
		<%= f.text_area :body %>
	</p>
	<p class= "submit-form">
		<%= f.submit 'Submit' %>
	</p>
	<% end %>
</div>