<h1> Pick your location, Tim! </h1>

<%= form_for :location do |f| %>
   <% if @location.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@location.errors.count, "error") %> prohibited
      this location from being saved:</h2>
    <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :City %><br>
    <%= f.text_field :city %>
  </p>
 
  <p>
    <%= f.label :State %><br>
    <%= f.select :state, options_for_select(us_states, "TX") %>
  </p>
 
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<% if Location.exists?(@location) %>

<h1> The weather for <%= @location.city %>, <%= @location.state %> is: </h1>

<h2>What are people here saying?</h2>

<%= render @location.comments %>

<%= render 'comments/form' %>

<% end %>

