<h1> The weather for <%= @location.city %>, <%= @location.state %> is: </h1>


<h2>What to Wear?</h2>
<% @location.comments.each do |comment| %>
<p>
	<strong>Name:</strong>
	<%= comment.commenter %>
</p>

<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@location, @location.comments.build]) do |f| %>
<p>
	<%= f.label :name %><br>
	<%= f.text_field :commenter %>
</p>
<p>
	<%= f.label :comment %><br>
	<%= f.text_area :body %>
</p>
<p>
	<%= f.submit 'Submit' %>
</p>
<% end %>


