<h1> Showing weather for: </h1>

<p>
	<strong>City:</strong>
	<%= @location.city %>
</p>

<p>
	<strong>State</strong>
	<%= @location.state %>
	
</p>


<h2>What to Wear?</h2>
<% @location.comments.each do |comment| %>
<p>
	<strong>Your Name:</strong>
	<%= comment.commenter %>
</p>

<p>
	<strong>What should I wear?:</strong>
	<%= comment.body %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@location, @location.comments.build]) do |f| %>
<p>
	<%= f.label :commenter %><br>
	<%= f.text_field :commenter %>
</p>
<p>
	<%= f.label :body %><br>
	<%= f.text_area :body %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>


