<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WeatherWare</title>
	<%= stylesheet_link_tag    'application', media: 'all'%>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>

</head>

<body>
	<header>
		<img src="/images/w-scarf-maroon.png" alt= "logo">
		<a href="<%= root_url %>"><h1 class="main-title">weather ware</h1></a>
		<hr>
		<h2>what to wear where you are</h2>
	</header>

	<div class ="wrapper">
		<%= yield %>
	</div>

	<%= render "layouts/partials/footer" %>

</body>

</html>